.name {
    position: absolute;
    width: 280px;
    height:100px;
    margin: 0 auto;
    font-size: 50px;
    top: 210px;
    left: 215px;
  }
  .name span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 70px;
    height: 205px;
    margin-left: -35px;
    line-height: 346px; /* height*2 - font-size */
    text-align: center;
    transform-origin: top center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .name span:nth-of-type(1)  {
    transform: rotate(22deg);
  }
  .name span:nth-of-type(2)  {
    transform: rotate(7deg);
  }
  .name span:nth-of-type(3)  {
    transform: rotate(-9deg);
  }
  .name span:nth-of-type(4)  {
    transform: rotate(-24deg);
  }

  .icon {
    position: relative;
    width: 355px;
    margin: auto auto 0 auto; 
    min-height: 161px;
  }

  .left-eye {
    position: absolute;
    top: 32.5px;
    left: 32.5px;
  }

  .right-eye {
    position: absolute;
    top: 32.5px;
    left: 222.5px;
  }

  #introduction {
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    line-height: 50px;
    background-image: linear-gradient(to bottom, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #introduction-icon {
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    line-height: 50px;
    padding-left: 20px;
  }

  #sidebar {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
  }

  #sidebar-border {
    position: relative;
    padding-right: 10px;
    background-color: black;
    height: 100%;
    background: linear-gradient(to bottom, violet, indigo, blue, green, yellow, orange, red);
    transition: left 2s ease;
    -webkit-box-shadow: 6px -6px 35px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px -6px 35px -6px rgba(0,0,0,0.75);
    box-shadow: 6px -6px 35px -6px rgba(0,0,0,0.75);

  }

  #sidebar-content {
    display: none;
    transition: opacity 2s ease-in;
    height: 100%;
  }

  #sidebar-content.sidebar-content-show {
    display: flex;
    flex-direction: column;
    transition: opacity 2s ease-in;
  }

  #sidebar-menu.sidebar-menu-open {
    width: 300px;
    opacity: 1;
  }

  #sidebar-menu {
    background-color: white;
    height: 100%;
    width: 0px;
    opacity: 0;
    transition: width 0.5s ease, opacity 1.5s ease-in;
  }

  #sidebar-button {
    position: absolute;
    top: 10px;
    left: 25px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: auto;
  }

  .menu-button {
    width: 100%;
    text-align: center;
    line-height: 2.5em;
    font-size: 2.5em;
    text-decoration: none;
    color: black;
    font-family: monospace;
    font-weight: 400;
  }

  .menu-button:hover {
    font-weight: 700;
  }

  #sidebar-close {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    cursor: pointer;
  }

  @media only screen and (max-width: 1000px) {
    #sidebar-menu.sidebar-menu-open {
      width: 990px;
      max-width: 100%;
      height: 100%;
      opacity: 1;
    }

    #sidebar-close {
      height: 200px;
    }

    #sidebar-close-svg {
      width: 100%;
      height: 200px;
    }

    #sidebar-button-svg {
      width: 100px;
      height: 100px;
    }

    .menu-button {
      font-size: 3em;
      width: 100%;
    }
  }

  @media only screen and (max-width: 768px) {
    #sidebar-menu.sidebar-menu-open {
      width: 758px;
      max-width: 100%;
      height: 100%;
      opacity: 1;
    }

    #sidebar-close {
      height: 200px;
    }

    #sidebar-close-svg {
      width: 100%;
      height: 200px;
    }

    #sidebar-button-svg {
      width: 100px;
      height: 100px;
    }

    .menu-button {
      font-size: 3em;
      width: 100%;
    }
  }

  @media only screen and (max-width: 500px) {
    #sidebar-menu.sidebar-menu-open {
      width: 490px;
      max-width: 100%;
      height: 100%;
      opacity: 1;
    }

    #sidebar-close {
      height: 200px;
    }

    #sidebar-close-svg {
      width: 100%;
      height: 200px;
    }

    #sidebar-button-svg {
      width: 100px;
      height: 100px;
    }

    .menu-button {
      font-size: 3em;
      width: 100%;
    }
  }